<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Simple is Better Than Complex{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1><a href="{% url 'list' %}">Bet.com</a></h1>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Выйти</a>
        <a href="{% url 'home' %}">Аккаунт</a>
      {% else %}
        <a href="{% url 'login' %}">Вход</a> / <a href="{% url 'signup' %}">Регестрация</a>
      {% endif %}
      <hr>
      {% block header %}

      {% endblock %}
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
