{% extends 'base.html' %}


{% block content %}

  <h1>Список всех матчей</h1>
  <div id="app">

    <table>
      <tr>
        <th>Спорт</th>
        <th>Название</th>

      </tr>


        </div>
          <tr v-for='match in matches'>
            <td>[[ match.sport ]]</td>
            <td><a v-bind:href="match.match_id">[[match.team1]]X[[match.team2]] - [[match.score]]</a></td>
          </tr>

    </table>
  </div>


  <script type="text/javascript">

    const vm = new Vue({
                el: '#app',
                delimiters: ["[[", "]]"],
                data() {
                    return {
                        matches: [],
                    };
                },
                mounted: function () {
                  window.setInterval(() => {
                    axios.get('/api/match/').then((response) => {
                        this.matches = response.data;
                        // console.log(response.data)
                    });
                  }, 500)
                },
                // created() {
                //     axios.get('/api/match/').then((response) => {
                //         this.matches = response.data;
                //         console.log(response.data)
                //     });
                //     // axios.get('/stocks/portfolios/').then((response) => {
                //     //     this.portfolios = response.data;
                //     // });
                // },
          });
  </script>







{% endblock %}
